<section>
  <!--Common backgroud for all page-->
    <div class="curve"></div>
    <!--Welcome message-->
    <h1 class="display-4" id="green"><b>Welcome to <%= title %> Page</b></h1><br><br> 
    <div class="container1"> 
      <img src="/Assets/images/img1.png" class="rounded float-end" alt="Developing">     
      <h1 id="green"> <br>&nbsp;Hi, I'm Sohyeon</h1> <br><br>
      <h4 id="lgreen">"My mission is to be possitive<br>
          &nbsp;And i'm trying to make it thorugh my life.<br>
      </h4>  
      
    </div>    
  </section>

  <div class="container2">